* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.content {
  height: 84vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2vw;
}

img {
  max-width: 25vw;
  border-radius: 10px;
}

p {
  padding: 2vw 10vw;
  text-align: center;
  font-size: 2em;
}