* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.contain {
  width: 100%;
  height: 91vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bg-img {
  width: 100%;
  height: 91vh;
  background: url("https://images.unsplash.com/photo-1566250445460-b1798251668f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  filter: brightness(0.6);
  background-size: cover;
  position: absolute;
  z-index: 1;
}

.contain svg {
  z-index: 2;
  max-width: 90vw;
  margin-top: 5vw;
}

.contain p {
  z-index: 2;
  flex-basis: 100%;
  padding-top: 0.1em;
  text-align: center;
  text-align: center;
  font-size: 6vw;
  color: #ffffff;
  font-weight: 900;
}

.contain a {
  z-index: 2;
  margin: auto;
}

.container {
  min-height: 100vh;
  overflow-x: hidden;
}

.container h2 {
  margin-top: 1em;
}


.circle {
  /*border: 1px solid rgba(255, 255, 255, 0.1); */
  box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.27);
}

.carousel-item span {
  color: white;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 26px;
  opacity: 0.7;
}

.rev-text {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.star-review {
  text-align: center;
}

.star-review i {
  width: 32px;
  font-size: 32px;
  color: gold;
}

.carousel-item span {
  opacity: 0;
  transition: all 650ms ease-in-out;
}

.active span {
  transition: all 650ms ease-in-out;
  opacity: 1;
}

.stars {
  color: white;
  font-size: 15px;
  display: block;
  text-align: center;
  opacity: 0.45;
}


@media screen and (max-width: 1024px) {

  .contain svg {
    margin-top: 30vw;
  }

  .contain p {
    font-size: 12vw;
  }
}