* {
  margin: 0;
  padding: 0;
}


.contain {
  width: 100%;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1576235789670-28a9c8e950b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
}